.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-content {
  padding-top: 5vh;
}

.finalscore-row {
  height: 3.2em
}


.table-striped tbody tr:nth-of-type(2n+1).hidden-score {
  color: rgba(0, 0, 0, 0)
}


.table-striped tbody tr:nth-of-type(2n).hidden-score {
  color: rgba(255, 255, 255, 0.05)
}
